n8n/Cleaned Post Scheduling.json
{
  "name": "Post Scheduling",
  "nodes": [
    {
      "parameters": {
        "resource": "draft",
        "operation": "get",
        "messageId": "={{ $json.body.draft_message.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        -96
      ],
      "id": "9c2e193a-ea8f-46e4-bdf2-6444e3f7ed6b",
      "name": "Get a draft",
      "webhookId": "bc4940e5-fc56-4981-af83-8f0cc031f1eb",
      "credentials": {
        "gmailOAuth2": {
          "id": "XxHRoupgP0wUzD7y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e0e75933-db58-4f63-98c1-33f5a2c25ff6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "994546d3-110d-4719-a372-65b64255847d",
      "name": "Webhook",
      "webhookId": "e0e75933-db58-4f63-98c1-33f5a2c25ff6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        0
      ],
      "id": "40cbdf53-c61b-4a75-bd37-f0610226beb5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7077dc1a-646b-4834-bc76-061a5853a920",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "confirm",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "732e72f1-97b5-4007-902d-58abb0e31c74",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Webhook').item.json.body.mail.id }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -96
      ],
      "id": "cfe5bd39-bf72-483a-9f5d-cab95e767532",
      "name": "Reply to a message",
      "webhookId": "b4c6f09a-4a66-426e-ae17-957435b36883",
      "credentials": {
        "gmailOAuth2": {
          "id": "XxHRoupgP0wUzD7y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('If').item.json.body.mail.id }}",
        "message": "={{ $('If').item.json.body.mail.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        96
      ],
      "id": "b375902c-f589-4276-b57c-f6efe0aebc9e",
      "name": "Reply to a message1",
      "webhookId": "5da952f8-78f3-45c1-b538-181be92ed1b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "XxHRoupgP0wUzD7y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "krishmakadiya2005@gmail.com",
          "mode": "list",
          "cachedResultName": "krishmakadiya2005@gmail.com"
        },
        "eventId": "={{ $json.body.event.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        96
      ],
      "id": "b8fd0e6b-fedb-4a91-916f-1c1acca9985f",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MRWy4X5Oprzp3mGC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "email_actions",
        "columns": "payload"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        -96
      ],
      "id": "926810a3-7d36-4870-a905-7aa7b17ecc30",
      "name": "Create or update a document",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Shared Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "email_actions",
        "columns": "payload"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        96
      ],
      "id": "d8b2c37b-0994-44e5-b7b1-ebfa581c1a59",
      "name": "Create or update a document1",
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Shared Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  updateKey: $('If').first().json.body.id,\n  status: $('If').first().json.body.status\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ],
      "id": "cc237a3a-9a29-4fb3-af1b-70c8fd1f8f6f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return {\n  updateKey: $('If').first().json.body.id,\n  status: $('If').first().json.body.status\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -96
      ],
      "id": "1a65d41e-f37d-46cc-95c2-6d5f90232362",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a draft": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a document": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a document1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create or update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create or update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "711fcbd5-5914-4827-ae40-3a9ba7296abc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43110500a7b05a4d16a8157c32923cf4c458720f34470017eed8086f1077dc6b"
  },
  "id": "Bpey8856DFer6RbP",
  "tags": []
}