n8n/Master Meeting Controller.json
{
  "name": "Master Meeting Controller",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3568,
        2752
      ],
      "id": "e30a2646-f8e9-45ee-a99d-3bb764bdc8ee",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/drafts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email_action_id",
              "value": "={{ $json.draft.email_action_id }}"
            },
            {
              "name": "content",
              "value": "={{ $json.draft.content }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.draft.subject }}"
            },
            {
              "name": "type",
              "value": "={{ $json.draft.type }}"
            },
            {
              "name": "reasoning",
              "value": "={{ $json.draft.reasoning }}"
            },
            {
              "name": "tags",
              "value": "={{ $json.draft.tags }}"
            },
            {
              "name": "suggested_slots",
              "value": "={{ $json.draft.suggested_slots }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3360,
        2752
      ],
      "id": "b93ede54-1b71-4abe-83ee-79d42f00647c",
      "name": "Save Draft"
    },
    {
      "parameters": {
        "jsCode": "const profile = $('Get User Profile').item.json;\nconst body = $('Webhook').item.json.body;\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: `Hi,\\n\\nI'm so sorry, but I have to cancel our scheduled meeting. I'll reach out soon to find another time that works.\\n\\nBest regards,\\n${profile.signature}`,\n    recipient: body.recipient || \"\",\n    subject: \"Meeting Cancellation notice\",\n    type: \"Cancellation\",\n    reasoning: \"Auto-drafted after calendar deletion.\",\n    tags: [\"Scheduling\", \"Cancelled\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        3200
      ],
      "id": "7667c97b-4cb2-474e-8e14-7c2006442ae0",
      "name": "Gen Cancel Draft"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "email_actions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scheduling_status": "Cancelled",
            "id": "={{ $node[\"Webhook\"].json.body.email_action_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_received_at",
              "displayName": "email_received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scheduling_status",
              "displayName": "scheduling_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_time",
              "displayName": "scheduled_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "external_event_id",
              "displayName": "external_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2720,
        3200
      ],
      "id": "a0ba830e-ea6c-48d0-a089-0eb9d07ea1ac",
      "name": "Mark Cancelled",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "2cd77667-09d5-4d28-8032-6ab5d0d633c6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5a8a4fbd-b2c1-435e-8524-db7feafa4c02"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        2464,
        3056
      ],
      "id": "36bf357a-4201-49bc-97d0-98f7addea0dd",
      "name": "Resch/Canc Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "eventId": "={{ $json.google_event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2272,
        3056
      ],
      "id": "38cffdea-209b-40a4-93e2-fa81b2b63d0f",
      "name": "Delete Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "email_actions",
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"Webhook\"].json.body.email_action_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2064,
        3056
      ],
      "id": "4caa27a0-03a9-45eb-8303-fe321142d6ab",
      "name": "Fetch Google Event ID",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\nconst profile = $('Get User Profile').item.json;\nconst startTime = new Date(body.start_time).toLocaleString('en-IN', { \n  weekday: 'long', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata' \n});\n\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: `Hi,\\n\\nI've confirmed our meeting for ${startTime} (IST). I've added it to our calendars.\\n\\nLooking forward to speaking!\\n\\n${profile.signature}`,\n    recipient: body.recipient,\n    subject: `Meeting Confirmed: ${body.recipient}`,\n    type: \"Confirmation\",\n    reasoning: \"Auto-drafted after successful calendar bridge.\",\n    tags: [\"Scheduling\", \"Confirmed\"]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        2752
      ],
      "id": "57cbbefa-b08a-4347-aae1-46b96211c8f6",
      "name": "Gen Confirm Draft"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8000/email-actions/{{ $node[\"Webhook\"].json.body.email_action_id }}/confirm",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "google_event_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "scheduled_time",
              "value": "={{ $json.start.dateTime }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2912,
        2752
      ],
      "id": "71eefc7b-e1db-4115-a9ec-905f086284dc",
      "name": "Confirm Backend"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $node[\"Prep Google Data\"].json.start }}",
        "end": "={{ $node[\"Prep Google Data\"].json.end }}",
        "additionalFields": {
          "attendees": [
            "={{ $node[\"Prep Google Data\"].json.attendee }}"
          ],
          "summary": "={{ $node[\"Prep Google Data\"].json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2720,
        2752
      ],
      "id": "cb878585-21d7-4395-870c-484260732a12",
      "name": "Create Google Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This version handles the \"Always Output Data\" empty case correctly\nconst rawInput = $input.all();\nconst events = rawInput.filter(e => e.json.start);\nconst body = $('Webhook').item.json.body || {};\nconst profile = $('Get User Profile').item.json || { signature: \"\" };\nconst senderName = body.mail?.sender_name || 'there';\n\n// Professional Slot Hunting Logic\nconst START_HOUR = 9; const END_HOUR = 18; const istOffset = 5.5;\n\nfunction isBusy(start, end) {\n  return events.some(e => {\n    const eStart = new Date(e.json.start.dateTime || e.json.start.date);\n    const eEnd = new Date(e.json.end.dateTime || e.json.end.date);\n    return (start < eEnd && end > eStart);\n  });\n}\n\nconst availableSlots = []; const now = body.start_time ? new Date(body.start_time) : new Date(); \nfor (let d = 0; d < 3; d++) {\n  const day = new Date(now); day.setDate(now.getDate() + d);\n  day.setUTCHours(Math.floor(START_HOUR - istOffset), 30, 0, 0);\n  for (let h = 0; h < (END_HOUR - START_HOUR) * 2; h++) {\n    const slotStart = new Date(day); slotStart.setMinutes(day.getMinutes() + (h * 30));\n    const slotEnd = new Date(slotStart); slotEnd.setMinutes(slotStart.getMinutes() + 30);\n    if (slotStart > now && !isBusy(slotStart, slotEnd)) {\n      availableSlots.push(slotStart); if (availableSlots.length >= 5) break;\n    }\n  }\n  if (availableSlots.length >= 5) break;\n}\n\nconst slotStrings = availableSlots.map(s => s.toLocaleString('en-IN', { \n  weekday: 'long', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Asia/Kolkata' \n}));\n\n// RALPH LOOP: Export raw ISOs for frontend buttons\nconst slots_raw = availableSlots.map(s => s.toISOString());\n\nconst suggestedDraft = `Hi ${senderName},\\n\\nI've reviewed my calendar and I have the following availability (IST):\\n\\n[DYNAMIC_SLOTS_HERE]\\n\\nDo any of these times work for a call?\\n\\n${profile.signature}`;\n\n// ... [existing data processing code above remains the same] ...\n\nconst finalRecipient = body.recipient || \n                       $node[\"Fetch Google Event ID\"].json.recipient || \n                       body.mail?.sender_mail;\nreturn {\n  draft: {\n    email_action_id: body.email_action_id,\n    content: suggestedDraft,\n    recipient: finalRecipient,\n    subject: body.subject || (body.mail?.subject ? `Re: ${body.mail.subject}` : \"Meeting Reschedule\"),\n    type: \"Scheduling Proposal\",\n    reasoning: body.action === \"reschedule\" ? \"Auto-probe for requested reschedule.\" : \"Autonomous slot hunting completed.\",\n    tags: [\"Scheduling\", body.action === \"reschedule\" ? \"Reschedule-Auth\" : \"Auto-Probe\"],\n    suggested_slots: slots_raw\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        2496
      ],
      "id": "90ef936b-f68f-4515-b1d7-20995fe4dd71",
      "name": "3-Day Probe"
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst body = $('Webhook').item.json.body || {};\nconst targetStart = new Date(body.start_time);\nconst targetEnd = new Date(targetStart.getTime() + 30 * 60000);\n\n// Filter out empty items produced by \"Always Output Data\"\nconst realEvents = events.filter(e => e.json.start);\n\nconst isBusy = realEvents.some(e => {\n  const eStart = new Date(e.json.start.dateTime || e.json.start.date);\n  const eEnd = new Date(e.json.end.dateTime || e.json.end.date);\n  return (targetStart < eEnd && targetEnd > eStart);\n});\n\nif (isBusy) {\n  throw new Error(\"CONFLICT: The requested slot is no longer available. Manual rescheduling required.\");\n}\nreturn { status: \"Clear\" };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        2752
      ],
      "id": "d3277fd1-edb0-46b3-9845-7fdff8436f43",
      "name": "Final Conflict Check"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2160,
        2496
      ],
      "id": "8b24ab7c-b22e-4a3a-9264-2bf1971f3f97",
      "name": "Check Availability",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "propose_times",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d47d1a61-1030-454e-843e-bfeb020cc57a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "23ae5fda-0d38-44c2-a325-a43532370d63"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "reschedule",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "f64dea8f-f502-4dc2-af7a-641518f5ed40"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').first().json.current_action }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7341ab80-2adf-4ebc-a8ef-774121aa0fa3"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1872,
        2800
      ],
      "id": "33c070c6-c5ec-432c-8c52-9056654f781f",
      "name": "Action Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93693e50-8b38-4e8b-8e8e-8e8e8e8e8e8e",
              "name": "current_action",
              "value": "={{ $node[\"Webhook\"].json.body.action }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        2800
      ],
      "id": "b0f5db75-12c6-4209-a5b5-26ead9b45bd9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "user_profiles",
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1552,
        2800
      ],
      "id": "0ceaa225-55f6-415e-8c77-37366a8ce82a",
      "name": "Get User Profile",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-logic",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1264,
        2800
      ],
      "id": "a06ecec8-caab-422f-887d-5266254e264d",
      "name": "Webhook",
      "webhookId": "756f7317-2851-4455-bcaa-a1d5cfbfe5a3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.current_action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e843d7ee-0bf7-4ca1-a61e-993acde4b52f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.current_action }}",
                    "rightValue": "confirm",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "7b9c997c-d767-45ba-b7be-379e1d6ad825"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        2192,
        2736
      ],
      "id": "3d3cc268-c690-418e-975c-e058e39a47f7",
      "name": "Is Confirming?"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pull the data from the initial Webhook trigger\nconst body = $('Webhook').item.json.body;\n\n// 2. Create the Start and End Date objects (defaulting to 30-minute meetings)\nconst start = new Date(body.start_time);\nconst end = new Date(start.getTime() + 30 * 60000); \n\n// 3. Helper function to ensure format is ALWAYS 'YYYY-MM-DDTHH:mm:ssZ'\n// This strips the '.000' milliseconds that often trigger the 400 Bad Request.\nconst formatForGoogle = (date) => date.toISOString().split('.')[0] + \"Z\";\n\nreturn {\n  start: formatForGoogle(start),\n  end: formatForGoogle(end),\n  attendee: body.recipient || body.mail?.sender_mail || \"guest@example.com\",\n  summary: `Meeting with ${body.recipient || 'Guest'}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        2880
      ],
      "id": "e2fc6012-a736-433f-86ef-d6b89dbcef0c",
      "name": "Prep Google Data"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "email_actions",
          "mode": "list",
          "cachedResultName": "email_actions"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Webhook').first().json.body.email_action_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2368,
        2512
      ],
      "id": "2d7f62db-87af-4866-9b30-93ab65c2bcab",
      "name": "Get Recipient Info",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Save Draft": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Cancel Draft": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Cancelled": {
      "main": [
        [
          {
            "node": "Gen Cancel Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resch/Canc Switch": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event": {
      "main": [
        [
          {
            "node": "Resch/Canc Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Event ID": {
      "main": [
        [
          {
            "node": "Delete Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Confirm Draft": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Backend": {
      "main": [
        [
          {
            "node": "Gen Confirm Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Event": {
      "main": [
        [
          {
            "node": "Confirm Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-Day Probe": {
      "main": [
        [
          {
            "node": "Save Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Conflict Check": {
      "main": [
        [
          {
            "node": "Create Google Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Is Confirming?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Event ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Google Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirming?": {
      "main": [
        [
          {
            "node": "Prep Google Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Recipient Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Google Data": {
      "main": [
        [
          {
            "node": "Final Conflict Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recipient Info": {
      "main": [
        [
          {
            "node": "3-Day Probe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7ba1d3ef-469e-4e9f-92d0-bd1b752a3a1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "rHG4M4QRrrQks38K",
  "tags": []
}