n8n/Post Scheduling.json
{
  "name": "Post Scheduling",
  "nodes": [
    {
      "parameters": {
        "resource": "draft",
        "operation": "get",
        "messageId": "={{ $json.body.draft_message.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "a58514c0-a458-45f8-bdb2-f050071b49e6",
      "name": "Get a draft",
      "webhookId": "bc4940e5-fc56-4981-af83-8f0cc031f1eb",
      "credentials": {
        "gmailOAuth2": {
          "id": "tkqRW2XjpfGRoeEd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e0e75933-db58-4f63-98c1-33f5a2c25ff6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        96
      ],
      "id": "12d3c075-2793-4c37-a11e-7f739e875dc9",
      "name": "Webhook",
      "webhookId": "e0e75933-db58-4f63-98c1-33f5a2c25ff6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        96
      ],
      "id": "2d097c81-697f-4351-92e0-d56c59b94086",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7077dc1a-646b-4834-bc76-061a5853a920",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "confirm",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "0955a713-49d5-4982-acf6-ee41527748de",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Webhook').item.json.body.mail.id }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "8352edc7-f588-4687-95f0-1d496224d983",
      "name": "Reply to a message",
      "webhookId": "b4c6f09a-4a66-426e-ae17-957435b36883",
      "credentials": {
        "gmailOAuth2": {
          "id": "tkqRW2XjpfGRoeEd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('If').item.json.body.mail.id }}",
        "message": "={{ $('If').item.json.body.mail.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        192
      ],
      "id": "527dd973-fd90-4bc8-8af1-d1f6ce12af70",
      "name": "Reply to a message1",
      "webhookId": "5da952f8-78f3-45c1-b538-181be92ed1b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "tkqRW2XjpfGRoeEd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "krishmakadiya2005@gmail.com",
          "mode": "list",
          "cachedResultName": "krishmakadiya2005@gmail.com"
        },
        "eventId": "={{ $json.body.event.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "d1b73067-48ba-42b3-b165-fad1c93e2c2a",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "86S7RvqQKlVN61Jw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": "payload",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        0
      ],
      "id": "edb17cee-38fa-4482-8df5-d4eadde8a61c",
      "name": "Create or update a document",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": "payload",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        192
      ],
      "id": "fa4c2246-4a9d-4ec1-bda1-c9a29c56d7cd",
      "name": "Create or update a document1",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  updateKey: $('If').first().json.body.id,\n  status: $('If').first().json.body.status\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        192
      ],
      "id": "2f992696-f69c-4764-b536-0e69b2d8b4a8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return {\n  updateKey: $('If').first().json.body.id,\n  status: $('If').first().json.body.status\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "3afcd4e0-0748-43ac-8c5c-cf962170d1cf",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a draft": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a document": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a document1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create or update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create or update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e454f92e-03c4-4236-b29e-8672d25c9bed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "Gr33jLiBZmKAfY1K",
  "tags": []
}