n8n/Post Urgent_Fire.json
{
  "name": "Post Urgent_Fire",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c69bd0d4-a726-4c1c-a9a7-bf7a9337c32a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        192
      ],
      "id": "086d3742-11e8-4b88-aa44-e4e2921afd47",
      "name": "Webhook",
      "webhookId": "c69bd0d4-a726-4c1c-a9a7-bf7a9337c32a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8780eaf6-9944-464c-a06e-761b7c9ae05f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resolved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d3c42ad5-62d7-4165-ab9c-66115ac7906c",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "escalated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Escalate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b08c33ca-2152-474e-830f-cb0465f0506b",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "false_positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "False Positive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        176
      ],
      "id": "67b1e1db-c915-48c8-92c3-a3a4458bc9ac",
      "name": "Switch"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AS4H3HTT6",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=The Following Issue has been Resolved: {{ $json.body.alert.alert_message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "id": "45a979a8-eb4d-47bb-9592-166a4a19a2b8",
      "name": "Send a message",
      "webhookId": "3199ed55-ffd1-4f1d-9e84-1f5de394478f",
      "credentials": {
        "slackApi": {
          "id": "A4HawA8XorXQ0Hpr",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": {
          "0": "p",
          "1": "a",
          "2": "y",
          "3": "l",
          "4": "o",
          "5": "a",
          "6": "d",
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        896,
        0
      ],
      "id": "fd3804ca-6e98-4bbb-9fa0-5380c84ad659",
      "name": "Create or update a document",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABR4QV82K",
          "mode": "list",
          "cachedResultName": "prod-issues"
        },
        "text": "=<!channel> 🔥 *ESCALATION TRIGGERED: {{ $('Webhook').item.json.body.analysis.entities.issue_type }}: {{ $('Webhook').item.json.body.analysis.entities.affected_system }}*  \n*Status:* 🔴 **CRITICAL (P0)** | *Urgency Score:* {{ $('Webhook').item.json.body.analysis.urgency_score }}/10\n\n*Executive Summary:* > \n{{ $('Webhook').item.json.body.analysis.summary }}\n\n*Source Intelligence:* \n• *Sender:* {{ $('Webhook').item.json.body.mail.sender_name }} ({{ $('Webhook').item.json.body.mail.sender_mail }}) \n• *Category/Domain:* {{ $('Webhook').item.json.body.analysis.entities.affected_system }}\n• *Reference Key:* `{{ $('Webhook').item.json.body.analysis.entities.entities.error_code }}` \n• *Routing To:* {{ $('Webhook').item.json.body.analysis.entities.routing }}\n\n*Automated Response:* \n✅ **Escalation Protocol Activated** (Voice Call Dispatched) \n✅ **Incident Logged**  \n\n*Tracking Details:* \n🆔 Ticket ID: {{ $('Webhook').item.json.body.jira.id }}\n🔗 <{{ $('Webhook').item.json.body.jira.ticket_link }}|View Issue in Jira>",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        224,
        192
      ],
      "id": "46225e03-b4a2-41c3-8e82-bc0d6b013f51",
      "name": "Send a message1",
      "webhookId": "3f594612-4a19-472f-9ca4-8e3d927077d0",
      "credentials": {
        "slackApi": {
          "id": "A4HawA8XorXQ0Hpr",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10001",
          "mode": "list",
          "cachedResultName": "DEMO"
        },
        "issueType": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "={{ $('Webhook').item.json.body.analysis.entities.routing }}({{ $('Webhook').item.json.body.analysis.entities.issue_type }}): {{ $('Webhook').item.json.body.analysis.summary }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "f54d6fbe-97a9-49f6-89ce-acd3d584dc59",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "7Ml59y7ZCt8I2Yvn",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": "payload",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        896,
        192
      ],
      "id": "692fdd58-1ce7-45c2-a60b-6198c85ea780",
      "name": "Create or update a document1",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+16414294864",
        "to": "+919370811516",
        "message": "=Hello {{ $json.body.alert.recipient_name }}. \n\nThis is an Urgent Escalation Alert from SoMailer.  An item regarding {{ $json.body.mail.subject }} has been flagged for immediate attention.  \n\nThe situation is: {{ $json.body.analysis.summary }}.  I repeat: A critical issue regarding {{ $json.body.analysis.entities.affected_system }} requires your action.  \n\nPlease check your dashboard or inbox immediately. Goodbye.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "2f6de580-4896-488d-99e7-c200afa67f40",
      "name": "Make a call",
      "credentials": {
        "twilioApi": {
          "id": "Z9quNElMvo3Z6euM",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "schema": "public",
        "table": "email_actions",
        "columns": "payload",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        896,
        384
      ],
      "id": "46af2d3b-e361-4cfc-824a-8f470cf6fb3e",
      "name": "Create or update a document2",
      "credentials": {
        "postgres": {
          "id": "57onlUbW4pSOWEVy",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        192
      ],
      "id": "617c81fa-0207-46f5-bceb-75abed152b79",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $json.id }}",
        "updateFields": {
          "description": "This issue has been Resolved"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "a91d0b1d-23b3-4de8-9276-6e5dad13aa79",
      "name": "Update an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "7Ml59y7ZCt8I2Yvn",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const link = $('Switch').first().json.body.jira.ticket_link\nconst issueId = link.split('/').pop()\n\nreturn {id: issueId};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "0cd525a1-5648-4cd7-80dc-1520a42b2d9d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"resolved\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "26909e45-1c7c-43e2-922e-1eda9c9d709b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"escalated\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        192
      ],
      "id": "12214ce6-7f07-4b16-8222-e7045417f5a7",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  id: $('Webhook').first().json.body.card_id,\n  status: \"false_positive\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        384
      ],
      "id": "75342e5d-e20c-400f-8750-38144d22202f",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make a call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make a call": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a document2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a document1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a document": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an issue": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create or update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Create or update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Create or update a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6d833deb-10f8-49eb-bc07-1fa99548f7e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fed0a8d6c2a54f94de28c9ef58c5b89a59fc5e2c0ab498a8df1d24372114ead"
  },
  "id": "w3zlsSZXZpjq0Ohx",
  "tags": []
}